./wata_app*.zip
./var/
/.idea/**
.idea/**
.idea/
deploy/tools/ansible/inventory/inventory.ini
reporting/trading-dashboard

# Python
__pycache__/
*.pyc
.coverage
htmlcov/
.pytest_cache/

wata_app*.zip

.DS_Store

execution_timing_*.jsonl